.custom-footer {
    background-color: rgb(223, 255, 255);
    color: #333;
    font-family: 'Times New Roman', Times, serif;
  
    .container {
      text-align: center;
  
      img {
        max-width: 150px;
        margin-bottom: 1rem;
      }
  
      h4 {
        font-size: 1.25rem;
      }
  
      a {
        margin-right: 1rem;
  
        img {
          max-width: 40px;
        }
      }
    }
  }